.gyn-environment {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 4rem;
}

.gyn-environment__title {
  margin-top: 1.5rem;
}

.gyn-environment__content {
  margin-top: 1.5rem;
}

.gyn-environment__image {
  max-width: 100%;
  align-self: center;
}

@media (min-width: 768px) {
  .gyn-environment {
    margin-top: 8rem;
  }
}

@media (min-width: 900px) {
  .gyn-environment {
    margin-top: 10rem;
    flex-direction: row;
  }

  .gyn-environment__image {
    max-width: 50%;
  }

  .gyn-environment__description-container {
    padding-right: 3rem;
  }
}

